body {
    font-family: Arial, sans-serif;
    background-color: #2e1700 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: rgb(161, 109, 14, 1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
   height: auto;
   box-shadow: 10px 10px 15px black;
}
@media screen and (max-width: 800px) {
    .g-3{
        --bs-gutter-y: 0.3rem !important;
    }
    .signup-container{
        max-width: 300px;
    }
  }
h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    /* color: black; */
    display: block;
    /* margin-bottom: 5px; */
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: grid;
    width: 100%;
    max-width: 120px;
    /* padding: 12px; */
    background-color: #2e1700 !important;
    border: none !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.5s ease;
}

button:hover {
   transform: scale(1.1)
}
.btn{
    border: none !important;
    display: grid;
    justify-content: center;
    align-items: center;
}
p {
    text-align: center;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.Flogin a{
    text-decoration: none;
    color: #2e1700;
    transition: transform 0.5s ease;
}
.Flogin a:hover{
    transform: scale(1.1)
}
